* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  background-color: #e9eeda;
  height: 70px;
  font-family: "Poppins";
}

body {
  background-color: #e9eeda;
}

nav p {
  font-family: "Poppins";
  padding-left: 40px;
  padding-top: 20px;
  font-size: 15px;
  color: #487aa1;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 60px;
  font-size: 15px;
  padding-left: 900px;
  margin-top: -20px;
}

nav ul li:hover {
  color: #487aa1;
}

ul a {
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  color: #487aa1;
}

#minhas-habilidades {
  height: 150px;
  background-image: linear-gradient(
    90deg,
    #5ba1d7 0%,
    #9bbdd7 50%,
    #ceeaff 100%
  );
  font-family: "Rufina";
  font-size: 50px;
  color: #487aa1;
  text-align: center;
  padding-top: 45px;
}

#grid {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr 1.5fr 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 700px;
}

#front {
  grid-column: 2/3;
  margin-top: 100px;
}

#back {
  grid-column: 4/5;
  margin-top: 100px;
}

#bd {
  grid-column: 6/7;
  margin-top: 100px;
}

#titulo-front {
  color: #487aa1;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 21px;
}

#titulo-back {
  color: #487aa1;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 21px;
}

#titulo-bd {
  color: #487aa1;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 21px;
}

#texto-front {
  font-size: 16px;
  color: #487aa1;
  font-family: "Poppins";
  margin-top: 50px;
}

#texto-back {
  font-size: 16px;
  color: #487aa1;
  font-family: "Poppins";
  margin-top: 50px;
}

#texto-bd {
  font-size: 16px;
  color: #487aa1;
  font-family: "Poppins";
  margin-top: 50px;
}

footer {
  margin-top: 100px;
  height: 400px;
  background-color: #b2d9f7;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  text-align: left;
  color: #487aa1;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-seçao h4 {
  margin-top: 80px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Poppins";
}

.footer-seçao p,
.footer-seçao ul {
  font-size: 12px;
  line-height: 1.6;
  font-family: "Poppins";
}

.footer-seçao ul {
  list-style: none;
}

.footer-seçao ul li {
  margin-bottom: 10px;
}

.social-icones a {
  margin-right: 10px;
}

.social-icones {
  display: flex;
  margin-left: 80px;
}

.social-icones img {
  width: 20px;
  height: 20px;
}

#recursos {
  padding-left: 50px;
}

#lista-recursos {
  padding-left: 50px;
}

#me-siga {
  padding-left: 120px;
}

footer a {
  color: #487aa1;
}

#txt-bola1 {
  display: flex;
  flex-direction: row;
}

#txt-bola2 {
  display: flex;
  flex-direction: row;
}

#html {
  font-family: "Poppins";
  font-weight: 600;
  color: #487aa1;
  padding-top: 155px;
}

#css {
  font-family: "Poppins";
  font-weight: 600;
  color: #487aa1;
}

#c {
  font-family: "Poppins";
  font-weight: 600;
  color: #487aa1;
  padding-top: 130px;
}

#vs {
  font-family: "Poppins";
  font-weight: 600;
  color: #487aa1;
}

#sql {
  font-family: "Poppins";
  font-weight: 600;
  color: #487aa1;
  padding-top: 180px;
}

#mySQL {
  font-family: "Poppins";
  font-weight: 600;
  color: #487aa1;
}

.linha {
  width: 1px;
  height: 700px;
  background-color: #487aa1;
  margin-left: 50px;
  margin-top: 50px;
  grid-column: 3/4;
}

.linha2 {
  width: 1px;
  height: 700px;
  background-color: #487aa1;
  margin-left: 50px;
  margin-top: 50px;
  grid-column: 5/6;
}

#svg {
  height: 24px;
  width: 24px;
  fill: #487aa1;
}

.dark-mode {
  background-color: #333;
  color: #e9eeda;
}

.dark-mode #svg {
  fill: white;
}

.dark-mode nav,
.dark-mode footer {
  background-color: #222;
}

.dark-mode nav a {
  color: #e9eeda;
}

.dark-mode #minhas-habilidades {
  background-image: linear-gradient(
    90deg,
    #2e3a45 0%,
    #485e72 50%,
    #1f1f1f 100%
  );
  color: #e9eeda;
}

.dark-mode #texto-front {
  color: white;
}

.dark-mode #texto-back {
  color: white;
}

.dark-mode #texto-bd {
  color: white;
}

@media (max-width: 450px) {
  * {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    width: 100%;
  }

  nav {
    background-color: #e9eeda;
    width: 100%;
  }

  nav p {
    font-size: 14px;
    padding-top: 25px;
    padding-left: 20px;
  }

  nav ul {
    display: none;
  }

  nav ul li:hover {
    color: #487aa1;
  }

  ul a {
    text-decoration: none;
  }

  a {
    color: black;
  }

  a:hover {
    color: #487aa1;
  }

  #minhas-habilidades {
    height: 100px;
    background-image: linear-gradient(
      90deg,
      #5ba1d7 0%,
      #9bbdd7 50%,
      #ceeaff 100%
    );
    font-family: "Rufina";
    font-size: 25px;
    color: #487aa1;
    text-align: center;
    padding-top: 35px;
  }

  #titulo-front {
    color: #487aa1;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 21px;
    padding-left: 40px;
    margin-top: -50px;
  }

  #titulo-back {
    color: #487aa1;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 21px;
    margin-top: 400px;
    margin-left: -360px;
  }

  #titulo-bd {
    color: #487aa1;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 21px;
    margin-top: 1000px;
  }

  #texto-front {
    font-size: 14px;
    color: #487aa1;
    font-family: "Poppins";
    margin-top: 50px;
    margin-left: 40px;
    text-align: justify;
    width: 160%;
  }

  #texto-back {
    font-size: 14px;
    color: #487aa1;
    font-family: "Poppins";
    margin-top: 50px;
    margin-left: -360px;
    width: 370%;
    text-align: justify;
  }

  #texto-bd {
    font-size: 16px;
    color: #487aa1;
    font-family: "Poppins";
    margin-top: 50px;
    margin-top: 1000px;
  }

  footer {
    margin-top: 1000px;
    height: 400px;
    background-color: #b2d9f7;
    padding: 40px 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
    color: #487aa1;
    max-width: 1000px;
    margin: 0 auto;
  }

  .footer-seçao h4 {
    margin-top: 80px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: "Poppins";
  }

  .footer-seçao p,
  .footer-seçao ul {
    font-size: 12px;
    line-height: 1.6;
    font-family: "Poppins";
  }

  .footer-seçao ul {
    list-style: none;
  }

  .footer-seçao ul li {
    margin-bottom: 10px;
  }

  .social-icones a {
    margin-right: 10px;
  }

  .social-icones {
    display: flex;
    margin-left: 80px;
  }

  .social-icones img {
    width: 20px;
    height: 20px;
  }
  #grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr fr;
  }

  #recursos {
    padding-left: 50px;
  }

  #lista-recursos {
    padding-left: 50px;
  }

  #me-siga {
    padding-left: 120px;
  }

  footer a {
    color: #487aa1;
  }

  #txt-bola1 {
    display: flex;
    flex-direction: row;
  }

  #txt-bola2 {
    display: flex;
    flex-direction: row;
  }

  #html {
    font-family: "Poppins";
    font-weight: 600;
    color: #487aa1;
    padding-top: 150px;
    padding-left: 40px;
    width: 160%;
    margin-top: -90px;
    font-size: 14px;
  }

  #css {
    font-family: "Poppins";
    font-weight: 600;
    color: #487aa1;
    padding-left: 40px;
    width: 160%;
    margin-top: 0px;
    font-size: 14px;
  }

  #c {
    font-family: "Poppins";
    font-weight: 600;
    color: #487aa1;
    padding-top: 60px;
    margin-left: -360px;
    font-size: 14px;
  }

  #vs {
    font-family: "Poppins";
    font-weight: 600;
    color: #487aa1;
  }

  #sql {
    font-family: "Poppins";
    font-weight: 600;
    color: #487aa1;
    padding-top: 180px;
  }

  #mySQL {
    font-family: "Poppins";
    font-weight: 600;
    color: #487aa1;
  }

  .linha {
    height: 1px;
    background-color: #487aa1;
    width: 360px;
    margin-top: 450px;
    margin-left: -190px;
  }

  .linha2 {
    height: 1px;
    background-color: #487aa1;
    width: 360px;
    margin-top: 950px;
    margin-left: -450px;
  }
}
